<div class="main">
    <div>
        <ul class="liste">
            <li id="elem-liste"> modèle : {{car.model}} </li>
            <li id="elem-liste"> marque : {{car.brand}} </li>
            <li id="elem-liste"> année d'achat : {{car.year}} </li>
            <li id="elem-liste"> couleur : {{car.color}} </li>
            <li id="elem-liste"> prix : {{car.price}} </li>
            <li id="elem-liste"> poids : {{car.weight}} </li>
            <li id="elem-liste"> description : {{car.description}} </li>
        </ul>


    </div>
    <img id="image" [src]='car.image'>




</div>